// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 813px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Small-down devices
@mixin sm-down {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Medium-down devices
@mixin md-down {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Medium-up devices
@mixin md-up {
  @media (min-width: #{$screen-md-min + 1}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #eb6ce1, #df6565);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.glass {
  background-color: white;
  min-height: 80vh;
  max-height: 90vh;
  width: 100%;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  z-index: 2;
  -webkit-backdrop-filter: blur(2rem);
  backdrop-filter: blur(0.4rem);
  display: flex;
  max-width: 900px;

  @include md-down() {
    flex-direction: column;
  }
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2rem;
  min-width: 20rem;
  @include md-down() {
    min-width: none;
    width: 100%;
  }
}

.user {
  margin-top: 5rem;
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  @include md-down() {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.status {
  padding-top: 5rem;
  padding-left: 5rem;
  @include md-down() {
    padding: 1rem 1rem 0;
  }
}
.repos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}
.cards {
  padding: 0 5rem;
  overflow-y: scroll;
  @include md-down() {
    padding: 0 1rem;
  }
}
.card {
  display: flex;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 1rem;
  margin: 2rem 0rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  @include md-down() {
    padding: 10px;
  }
  .avatar_repo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
  }
  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    @include md-down() {
      word-break: break-all;
    }
  }
}

.follow_me,
.view_code {
  text-decoration: none;
  color: white;
  background-color: #df6565;
  padding: 5px 10px;
  margin-top: 10px;
  display: inline-block;
  border-radius: 16px;
  box-shadow: 0 3px 4px 0 transparentize($color: #eb6ce1, $amount: 0);
  align-self: flex-start;
}
